CMakeCache.*
Makefile
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
liste_main*
nbproject/
lib/
CMakeFiles/
bin/
_deps/
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
tests/tests_liste*
tests/CMakeFiles/
/cmake-build-debug
.idea/